apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rsenvcomp
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rs-demos-zgpe-tenant/rsenvapp/rsenvcomp@sha256:bb053e6fe18ccab77a73a80ac59de54c287021411e7ce2e051bf080acaa6fb93
        name: my-java-quarkus
        resources: {}
status: {}
